# Datos crudos (Nunca subir los .nc por su peso)
data/

# Logs de SLURM y basura temporal
logs/
*.log
*.err
*.out

# Archivos sueltos de prueba
test_result.png
*.txt
isoterma_cero.py

# Caché de Python
__pycache__/
*.pyc
.ipynb_checkpoints/
results/
logs/
