# Resultados y Datos (No se suben al repo)
results/
data/raw/
*.nc

# Logs de Slurm y ejecución
logs/
*.err
*.log
slurm-*

# Basura de sistema y Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*-checkpoint.*
.DS_Store
